<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>

    <div class="container w-25">
      <form action="/cancel" method="post">
        <%- include('includes/token') %>
        <input type="text" hidden name="id" value="<%=id%>" />
        <div class="form-group">
          <label for="reason">Reason for Cancel</label>
          <textarea class="form-control" name="reason" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-danger">Cancel</button>
      </form>
    </div>

    <%- include('includes/footer') %>
  </body>
</html>
