<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %>
    <div class="container d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form action="/password-reset" method="post">
              <%- include('includes/token') %>
              <p><%= inputData.message %></p>
              <input type="text" hidden value="<%= code %>" name="tempCode" />
              <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" required name="password" />
              </div>
              <div class="form-group">
                <label for="confPassword">Confirm New Password</label>
                <input type="password" class="form-control" required name="confPassword" />
              </div>
              <button type="submit" class="btn" style="background-color: #68a357; color: white">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
